*,
*::before,
*::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    user-select: none;
    background-color: #1E2326;
    color: #f9f9f9;
    font-family: "Noto Sans", "Roboto", "Segoe UI", "Arial", sans-serif;
}

#begin-scene,
#end-scene,
#main-scene {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    text-align: right;
}

@media (max-width: 500px) {
    #main-scene {
        margin-top: 0px;
    }
    #begin-scene,
    #end-scene {
        padding: 10px 30px;
    }
}

#title,
#score {
    font-size: 30px;
}
#subtitle,
#subscore {
    color: #aaa;
    margin-bottom: 20px;
}
#list {
    margin-bottom: 20px;
}

.wrong {
    color: #D28B98;
}

button {
    border: 1px solid #7E6BD6;
    background-color: #5E4BB6;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    
}

#display-container {
    background-color: #fafafa;
    word-wrap: anywhere;
    text-align: right;
    padding: 20px 25px;
}
#generated {
    font-size: 30px;
    color: #777;
}
#input {
    font-size: 40px;
    color: #333;
}
#info {
    color: #777;
}

table {
    border-spacing: 0px;
    width: 100%;
}

table td {
    padding: 20px 25px;
    text-align: center;
    font-size: 20px;
    background-color: #1E2326;
    border: 1px solid #334;
    border-right-width: 0px;
    border-bottom-width: 0px;
}
#buttonB,
#buttonN,
#buttonR {
    background-color: #5E4BB6;
    border: 1px solid #7E6BD6;
    border-bottom-width: 0px;
}

@media (hover: hover) and (pointer: fine) {
    table td:hover {
        background-color: #3e4246;
    }
    #buttonB:hover,
    #buttonN:hover,
    #buttonR:hover {
        background-color: #7E6BD6;
    }
    button:hover {
        background-color: #7E6BD6;
    }
}

#buttonR,
.bottom {
    border-bottom-width: 1px;
}
